.AboutMe {
    background-color: #F9F9F9;
}

.AboutMe .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 7rem 0 5rem;
}
.AboutMe .container > div {
    width: 60%;
}
.AboutMe .container > img {
    width: 40%;
}
.AboutMe .container > div h3 {
    width: 100%;
    font-size: 4rem;
    font-weight: 900;
    text-align: left;
    line-height: 5rem;
    margin-bottom: 3rem;
}
.AboutMe .container > div p {
    color: #888;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left;
}

