/* bring in normalize.css styles */
@import-normalize;

/* rest of index styles */
html{
  font-size:62.5%; /*then 1rem === 10px - and it gives the user control*/
}
body {
  margin: 0;
  font-family:'Raleway', sans-serif;
  font-size:1.6rem;
  line-height:1.5;
}
h1, h2, h3, h4, h5, h6{
  font-family:'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}
a{
  color: #000;
  text-decoration:none;
}
p, ul, li {
  padding: 0;
  margin: 0;
}


.w-container {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  max-width: 940px;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}