.Projects {
}

.Projects .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 7rem 0 5rem;
}
.Projects .container .large {
    margin-bottom: 7rem;
}

.Projects .container > h3 {
    width: 100%;
    font-size: 4rem;
    font-weight: 900;
    text-align: left;
    line-height: 0rem;
    margin-bottom: 3rem;
}
.Projects .container > p {
    color: #888;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left;
}

.Projects .container > .large {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}
.Projects .container > .large .information, .large .image {
    display: inline;
}
.Projects .container > .large .information {
    width: 48%;
}
.Projects .container > .large .information h4, .small .information h4 {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    font-weight: 700;
}
.Projects .container > .large .information p:nth-child(2), .small .information p:nth-child(2) {
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}
.Projects .container > .large .information p:nth-child(3), .small .information p:nth-child(3) {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    font-weight: 400;
}
.Projects .container > .large .information a, .small .information a {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}


.Projects .container > .large .image {
    width: 50%;
}
.Projects .container > .large .image img, .small .image img {
    display: block;
    width: 100%;
}


.Projects .container > .small {
    display: flex;
    flex-direction: column;
    width: 32%;
}
.Projects .container .small .image {
    display: block;
    order: 1;
}
.Projects .container .small .information {
    display: block;
    order: 2;
}



.Projects .container > .large .image, .small .image {
    width: 100%;
}